@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Montserrat&display=swap');

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 100%;
    background-color: #8fae5d;
    background: url(../img/fondo.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 747px;
    background-attachment: fixed;
}

h1 {
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 11px;
    letter-spacing: 6px;
    margin: 1.1em 0;
    text-align: center;
    font-family: 'Comfortaa';
}

.book-appointment {
    background: #c1c45e;
    padding: 50px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
    width: 85%;
    color: #fff;
    outline: none;
    font-size: 0.9em;
    line-height: 25px;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #332f2d;
    -webkit-appearance: none;
    margin: .3em 0em 1em;
    font-family: 'Comfortaa';
    font-weight: light;
    background: #c1c45e;
}

.book-appointment select.form-control {
    outline: none;
    font-size: 0.9em;
    padding: 7px 10px;
    width: 85%;
    margin: 5px 0px 16px;
    border-radius: 0;
    background: #c1c45e;
    color: #fff;
    border: none;
    border-bottom: 2px solid #332f2d;
    font-family: 'Comfortaa';
}

.book-appointment select.form-control option {
    background: #332f2d;
}

input[type=submit]:hover {
    background: #fff;
    border-color: #fff;
    border-radius:20px;
    color: #8fae5d;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    font-family: 'Comfortaa';
}

input[type=submit] {
    background: #8fae5d;
    border-color: #8fae5d;
    border-radius: 20px;
    color: #ffff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    font-family: 'Comfortaa';
}

.book-appointment p {
    color: #fff;
    font-size: 17px;
    letter-spacing: .5px;
}

.book-appointment h2 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: 'Comfortaa';
}
